@keyframes blink {
    50% {
        opacity: 0;
    }
}

#cursor {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: black;
    margin-left: 2px;
    animation: blink 0.8s infinite;
}